#attraction-info 
{
    width: 100%;
    padding-top: 180px;
    padding-bottom: 100px;

    &>.info-attraction-container
    {
        width: 95%;
        margin: auto;
        &>.attraction-section-1
        {
            display: flex;
            gap: 15px;

            &>div:nth-child(1)
            {
                width: 50%;
                height: 600px;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
            }

            &>div:nth-child(2)
            {
                width: 50%;
                &>h1 
                {
                    font-size: 3rem;
                }

                &>p 
                {
                    font-family: 'Dosis';
                    font-size: 1.8rem;
                    color: #374151;
                    text-align: justify;

                    &>a {
                        text-decoration: none;
                        color: #FFBF00;
                    }
                }

                &>hr 
                {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }

            @media (max-width: 1024px)
            {
                flex-wrap: wrap;
                &>div:nth-child(1)
                {
                    width: 97%;
                    margin: auto;
                }

                &>div:nth-child(2)
                {
                    width: 97%;
                    margin: auto;
                }
            }
        }
    }
}